.tabs{
	padding: 5px 10px;
	font-size: 18px;
	background: lightblue;
	margin-right: 20px;
	border-radius: 3px;
	cursor: pointer;
}
.first-ul{
	overflow: hidden;
}
.first-ul li{
	width: 20%;
	list-style: none;
	height: 100px;
	background: #607D8B;
	cursor: pointer;
	color: white;
	margin: 0 2.5%;
	float: left;
	line-height: 100px;
	text-align:center;
	border-radius: 5px;
	&:hover{
		background: #eee;
		color: #607D8B;
	}
}
.red{
	background: red;
}
.blue{
	background: blue
}
.green{
	background: green;
}
.all-wrap{
	width: 600px;
	margin: 0 auto;
}
.add-ul-head-wrap{
	padding: 0;
	margin: 0;
	width: 600px;
	height: 30px;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	line-height: 30px;
}
.add-ul-head-wrap li{
	float: left;
	list-style: none;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	text-align: center;
	cursor: pointer;
}
.content-wrap{
	line-height: 400px;
	text-align: center;
	width: 600px;
	overflow: hidden;
}
.content-wrap-inner{
	overflow: hidden;
	width: 1800px;
}
.content-wrap>.content-wrap-inner>div{
	width: 600px;
	height: 400px;
	float: left;
}

div h3{
	text-align: center;
	line-height: 30px;
}
.checkboxDiv{
	padding: 20px;
}
.ng-hide{
	display: none;
} 
.ng-show{
	display: block;
}
.secondUl{
	overflow: hidden;
}
.secondUl li{
	margin: 5px 0;
	list-style: none;
	& > span{
		padding: 5px 10px;
		background: #eee;
	}
	& span span{
		border-radius: 5px;
		padding: 0 10px;
		line-height: 30px;
	}
	& span span:last-child{
		cursor: pointer;
		border-radius: 5px;
		border: 1px solid black;
	}
}