doctype html
html
	head
		title testgulp
		link(rel='stylesheet',type='text/css',href='./styles/entry.css')
		script(src='../js/libs.js')
		script(src='../js/all.js')
	body(ng-app='myapp')
		div(ng-controller="contro")
			{{xxx}}
			my-shower
				span {{xxx}}888
			}
		