doctype html
html
	head
		title testgulp
		link(rel='stylesheet',type='text/css',href='./styles/entry.css')
		script(src='../js/libs.js')
		script(src='../js/all.js')
	body(ng-app='myapp')
		div(ng-controller="myController as ctrl")
			h2 Tour Of Heros
			span.tabs(ng-click='ctrl.showDiv1()') Dashboard
			span.tabs(ng-click='ctrl.showDiv2()') Heros
			div(ng-show='hideFlag')
				h3 Top Heros
				ul.first-ul
					li(ng-repeat='person in person2') {{person.name}}
				label 搜索 
				input(type='text')(ng-model='searchVal')(ng-keyup='ctrl.search()')
				div.searchDiv
					p(ng-repeat='searchPerson in searchPersons'){{searchPerson.name}}
			div(ng-hide='hideFlag')
				h1 My Heros
				label Hero Name:
				input(type='text')(ng-model='inputHero') 
				button(ng-click='ctrl.add()') Add
				ul.secondUl
					li(ng-repeat='person in persons') 
						span
							span {{person.id}} 
							span {{person.name}}
							span(ng-click='ctrl.remove(person.id)') x